%section#home.banner-area
  / / Start Header Area
  #undefined-sticky-wrapper.sticky-wrapper.is-sticky{:style => "height: 48px;"}
    %header.default-header{:style => "width: 1905px; position: fixed; top: 0px;"}
      %nav.navbar.navbar-expand-lg.navbar-light
        .container
          %a.navbar-brand.text-white.scroll-nav{:href => "#home"}
            SKP
          %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
            %span.text-white.lnr.lnr-menu
          #navbarSupportedContent.collapse.navbar-collapse.justify-content-end.align-items-center
            %ul.navbar-nav
              %li
                %a.scroll-nav{:href => "#home"} Home
              %li
                %a.scroll-nav{:href => "#about"} About
              %li
                %a.scroll-nav{:href => "#experiences"} Experience
              %li
                %a.scroll-nav{:href => "#contact"} Contact
              / / Dropdown
              -#%li.dropdown
              -#  %a#navbardrop.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              -#    Pages
              -#  .dropdown-menu
              -#    %a.dropdown-item{:href => "#"} Personal Blog
              -#    %a.dropdown-item{:href => "#"} Tech Blog
  / / End Header Area
  .container
    .row.justify-content-start.align-items-center
      .col-lg-6.col-md-12.no-padding.banner-right.text-center
        %img.img-fluid{:alt => "", :src => "#{asset_path('sunil_kumar_pissaye.png')}" }
      .col-lg-6.col-md-12.banner-left
        %h1
          Hi, I am
          %br
          %span Sunil kumar Pissaye
          %br
        %span.iam
          Carnegie Mellon Grad | Full Stack Engineer | Entrepreneur
        %p.mx-auto.mt-20.mb-40
          Looking to work with companies in developing Business Strategy, Technology Roadmap & Process Driven High Performing Teams.
          -#Currently looking to join a team creating a positive impact in the world through technology.
          -#I am at my best when I am vigorously iterating in high performing teams on ideas that will have a positive impact on the world.
          -#%br
          -#I am currently looking to join such a team as a Full Stack Engineer.
        %a.text-uppercase.header-btn.scroll-nav{:href => "#contact"} Let Us Talk
/ / End banner Area
%section#about.welcome_area.p_120.about-area.section-gap
  .container
    .row.welcome_inner
      .col-lg-6
        .welcome_text
          %h4 About Myself
          %p
            %ul.unordered-list
              %li
                Full stack engineer with 11+ years of experience; seen 5+ products through from inception to production and scaling one of the products to 300 million users.
              %li
                I am humbled by learning on the cutting edge - having spent most of my career in start-ups either as an early team member or a co-founder. I have been through all phases of a start-up including acquisitions.
              %li
                I have a Master’s degree in Software Engineering + Development Management from Carnegie Mellon University.
      .col-lg-6.welcome_text.skills_wrap
        %h4
          Skills:
        %p
          %ul.unordered-list
            %li
              Technology vision & roadmap development with key stakeholders
            %li
              Product and project management
            %li
              Agile web development
            %li
              REST based API development
            %li
              Ruby on Rails, Sinatra, Redis, Resque, Sidekiq
            %li
              JavaScript (ES6) based front ends – React, Backbone, Marionette, Node. Along with HTML5 & CSS3, SASS
            %li
              MongoDB, MySQL, Postgres
    .row
      .col-md-3
        .wel_item
          %i.lnr.lnr-star
          %h4 2
          %p Acquisitions
      .col-md-3
        .wel_item
          %i.lnr.lnr-laptop-phone
          %i.lnr.lnr-users
          %h4 5+
          %p Full Product Lifecycle
      .col-md-3
        .wel_item
          %i.lnr.lnr-users
          %h4 300 million
          %p Total Users in production
      .col-md-3
        .wel_item
          %i.lnr.lnr-users
          %i.lnr.lnr-laptop-phone
          %i.lnr.lnr-users
          %h4 Remote
          %p Full time remote experience
/ ================End Welcome Area =================
/ ================My Tabs Area =================
%section#experiences.mytabs_area.p_120.section-gap
  .container
    .tabs_inner
      %ul#myTab.nav.nav-tabs{:role => "tablist"}
        %li.nav-item
          %a#experience-tab.nav-link.active{"aria-controls" => "experience", "aria-selected" => "true", "data-toggle" => "tab", :href => "#experience", :role => "tab"} My Experiences
        %li.nav-item
          %a#education-tab.nav-link{"aria-controls" => "education", "aria-selected" => "false", "data-toggle" => "tab", :href => "#education", :role => "tab"} My Education
      #myTabContent.tab-content
        #experience.tab-pane.fade.show.active{"aria-labelledby" => "experience-tab", :role => "tabpanel"}
          %ul.list
            %li
              %span
              .media
                .d-flex
                  %p Aug 2016 to Jan 2019
                .media-body
                  %h4.exp-title.underline#sf{"data-target" => "#SFModal"}
                    %u Simply Farm
                  %p
                    Co-Founder / Technology Head
                    = succeed "Bangalore, India" do
                      %br
            %li
              %span
              .media
                .d-flex
                  %p Oct 2015 to Aug 2016
                .media-body
                  %h4.exp-title#s31{"data-target" => "#S31Modal"}
                    %u Story31
                  %p
                    Co-Founder / Technology Head
                    = succeed "Bangalore, India" do
                      %br
            %li
              %span
              .media
                .d-flex
                  %p Jan 2014 - Aug 2016
                .media-body
                  %h4 Press31
                  %p
                    Co-Founder / Technology Head
                    = succeed "Bangalore, India" do
                      %br
            %li
              %span
              .media
                .d-flex
                  %p May 2013 - Dec 2013
                .media-body
                  %h4 Rally.org
                  %p
                    Developer
                    = succeed "San Francisco, USA" do
                      %br
            %li
              %span
              .media
                .d-flex
                  %p Feb 2011 - May 2013
                .media-body
                  %h4 The Walt Disney Company
                  %p
                    Integration Lead / 
                    %br
                    Senior Software Engineer
                    = succeed "Palo Alto, USA" do
                      %br
            %li
              %span
              .media
                .d-flex
                  %p Sep 2010 - Feb 2011
                .media-body
                  %h4 Togetherville Inc
                  %p
                    Software Engineer
                    = succeed "Palo Alto, USA" do
                      %br
            %li
              %span
              .media
                .d-flex
                  %p Aug 2009 - Aug 2010
                .media-body
                  %h4 Carnegie Mellon University
                  %p
                    Research Assistant
                    = succeed "Mountain View, USA" do
                      %br
            %li
              %span
              .media
                .d-flex
                  %p May 2007 - Jan 2009
                .media-body
                  %h4 Regalix
                  %p
                    Software Engineer
                    = succeed "Bangalore, India" do
                      %br
        #education.tab-pane.fade{"aria-labelledby" => "education-tab", :role => "tabpanel"}
          %ul.list
            %li
              %span
              .media
                .d-flex
                  %p Aug 2009 - Aug 2010
                .media-body
                  %h4 Carnegie Mellon University
                  %p
                    MS Software Engineering + Development Management
                    = succeed "Mountain View, USA" do
                      %br
            %li
              %span
              .media
                .d-flex
                  %p Aug 2002 - Jul 2006
                .media-body
                  %h4 BMS College of Engineering
                  %p
                    Bachelor's in Computer Science
                    = succeed "Bangalore, India" do
                      %br
/ ================End My Tabs Area =================
/ ================Feature Area =================
-#%section#offerings.feature_area.p_120.section-gap
  .container
    .main_title
      %h2 offerings to my clients
      %p If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
    .feature_inner.row
      .col-lg-4.col-md-6
        .feature_item
          %i.flaticon-city
          %h4 Architecture
          %p If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
      .col-lg-4.col-md-6
        .feature_item
          %i.flaticon-skyline
          %h4 Interior Design
          %p If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
      .col-lg-4.col-md-6
        .feature_item
          %i.flaticon-sketch
          %h4 Concept Design
          %p If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.
/ ================End Feature Area =================
/ start contact Area
%section#contact.contact-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-20.col-lg-8
        .title.text-center
          %h1.mb-10 Need more info? Just drop me a line.
    = form_for @contact, url: contact_path(format: :json), method: :post, remote: true, authenticity_token: form_authenticity_token, name: "contact", html: {class: "contact-form form-area mt-60", id: "contact_form"} do |f|
      .row
        .col-lg-6.form-group
          = f.text_field :name, required: true, placeholder: "Enter Your Name", onfocus: "Enter Your Name", maxlength: "255", class: "common-input mb-20 form-control"
          = f.email_field :email, required: true, placeholder: "Enter Your Email", onfocus: "Enter Your Email Address", class: "common-input mb-20 form-control"
          = f.text_field :subject, required: true, placeholder: "Enter Your Subject", onfocus: "Enter Your Subject", class: "common-input mb-20 form-control"
        .col-lg-6.form-group
          = f.text_area :message, required: true, placeholder: "Enter Your Message", onfocus: "Enter Your Message", maxlength: "500", class: "common-input mb-20 form-control"  
          = recaptcha_tags
          = f.submit "Send Message", class: "send-message-btn mt-3"
          .alert-msg
    .row
      .col-lg-12.form-group.contact-thank-you
        Thank you for reaching out. I will get in touch with you right away.
      .col-lg-12.form-group
        .contact-captcha-error.d-none
        .contact-error.d-none
          Seems like something went wrong. Please refresh the page or try again later.
/ end contact Area
/ start footer Area
%footer.footer-area.section-gap
  .container
    .row
      .col-lg-5.col-md-6.col-sm-6
        .single-footer-widget
          %h6 About Me
          %p
            Currently looking to join a team creating a positive impact in the world through technology.
          / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          %p.footer-text
            Copyright ©
            :javascript
              document.write(new Date().getFullYear());
            2019
            All rights reserved | This template is made with
            %i.fa.fa-heart-o{"aria-hidden" => "true"}
            by
            %a{:href => "https://colorlib.com", :target => "_blank"} Colorlib
          / Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-5.col-md-6.col-sm-6
      .col-lg-2.col-md-6.col-sm-6.social-widget
        .single-footer-widget
          %h6 Follow Me
          %p Let us be social
          .footer-social.d-flex.align-items-center
            %a{:href => "https://www.linkedin.com/in/sunilpissaye/"}
              %i.fa.fa-linkedin
            %a{:href => "https://github.com/spissaye"}
              %i.fa.fa-github
/ End footer Area

#SFModal.modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title
          @ Simply Farm
        = button_tag "X", {"data-dismiss" => "modal", class: "modal-close-btn"}
      .modal-body
        .container-fluid
          .row
            .col-12
              #sf_carousel_ind.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .carousel-item.active
                    = image_tag asset_path("simply_farm_new_indian_express.jpg"), class: "img-fluid .d-block.w-100"
                    .carousel-caption
                      Article in New Indian Express.
                  .carousel-item
                    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/dYcD0tUjMTs", :width => "560"}
              %a.carousel-control-prev{"data-slide" => "prev", :href => "#sf_carousel_ind", :role => "button"}
                %span.carousel-control-prev-icon{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.carousel-control-next{"data-slide" => "next", :href => "#sf_carousel_ind", :role => "button"}
                %span.carousel-control-next-icon{"aria-hidden" => "true"}
                %span.sr-only Next

#S31Modal.modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title
          @ Story31
        = button_tag "X", {"data-dismiss" => "modal", class: "modal-close-btn"}
      .modal-body
        .container-fluid
          .row
            .col-12
              #s31_carousel_ind.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .carousel-item.active
                    = image_tag asset_path("Deccan-Chronicle-feb-2016.jpg"), class: "img-fluid .d-block.w-100"
                    .carousel-caption
                      Article in Deccan Chronicle.
                  .carousel-item
                    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/qb_V2FK2bL8", :width => "560"}
              %a.carousel-control-prev{"data-slide" => "prev", :href => "#s31_carousel_ind", :role => "button"}
                %span.carousel-control-prev-icon{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.carousel-control-next{"data-slide" => "next", :href => "#s31_carousel_ind", :role => "button"}
                %span.carousel-control-next-icon{"aria-hidden" => "true"}
                %span.sr-only Next

#P31Modal.modal
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title
          @ Press31
        = button_tag "X", {"data-dismiss" => "modal", class: "modal-close-btn"}
      .modal-body
        .container-fluid
          .row
            .col-12
              #p31_carousel_ind.carousel.slide{"data-ride" => "carousel"}
                .carousel-inner
                  .carousel-item.active
                    = image_tag asset_path("Deccan-Chronicle-feb-2016.jpg"), class: "img-fluid .d-block.w-100"
                    .carousel-caption
                      Article in Deccan Chronicle.
                  .carousel-item
                    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/qb_V2FK2bL8", :width => "560"}
              %a.carousel-control-prev{"data-slide" => "prev", :href => "#p31_carousel_ind", :role => "button"}
                %span.carousel-control-prev-icon{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.carousel-control-next{"data-slide" => "next", :href => "#p31_carousel_ind", :role => "button"}
                %span.carousel-control-next-icon{"aria-hidden" => "true"}
                %span.sr-only Next